.item{
    background-color: #F1F3FF;
    height: 270px;
    border-radius: 8px;

}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blueviolet;
    font-size: 50px;
    text-align: center;

}
    